<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <input v-model="newComment" @keydown="addComment">
        <div v-for="comment in comments">{{bestComments}}</div>
        <button @click="reverse">reverse</button>
    </div>
    <style>
    </style>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                newComment: "",
                comments: []
            },
            methods: {
                addComment() {
                    this.comments.push(this.newComment)
                },
                reverse() {
                    this.comments.reverse();
                }
            },
            computed: {
                bestComments() {
                    return this.comments.filter(comment => comment.includes("a"))
                }
            }
        })




    </script>


</body>

</html>